<header>
    <div class="bg-gray-900 text-white flex p-3 justify-end">
        <div class="flex gap-10 md:mx-32 min-[320px]:mx-auto font-standard">
            <a href="#"><i class="fa-regular fa-user mr-3"></i>Login</a>
            <p>|</p>
            <a href="#">Register</a>
        </div>
    </div>
    <div class="container mx-auto flex flex-wrap p-7 flex-col md:flex-row items-center">
        <a class="flex title-font items-center text-white mb-4 md:mb-0 gap-3">
            <img src="../../../assets/image/logo.png" class="w-auto h-14">
            <span class="ml-3 text-xl text-black font-medium font-sans">SchoolCool</span>
        </a>
        <nav class="md:ml-auto flex font-semibold flex-wrap items-center text-lg justify-center font-standard gap-10">
            <a class="mr-5">Home</a>
            <a class="mr-5">Course</a>
            <a class="mr-5">Test</a>
            <a class="mr-5">Contact</a>
        </nav>
        <button
            class="inline-flex text-white items-center bg-gray-800 border-0 py-3 px-10 ml-5
            focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0 font-standard">
            Apply now
        </button>
    </div>
</header>